<div class="wrapper">

  <div class="about_header">

    <h1 class="about_page_title">About Me</h1>

    <h2 class="about_page_slogan">The <span>clarinetist</span> with passion to music</h2>

  </div>

  <figure class="about_foto">
    
    <img src="http://via.placeholder.com/300x400">

  </figure>

  <div class="short_bio">
    
    <p>"But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure. To take a trivial example, which of us ever undertakes laborious physical exercise, except to obtain some advantage from it? But who has any right to find fault with a man who chooses to enjoy a pleasure that has no annoying consequences, or one who avoids a pain that produces no resultant pleasure?"</p>

  </div>

  <div class="testimonials">

    <h2>Testimonials</h2>

    <div class="testimonials_element">

      <figure class="testimonials_element_photo">
        <img src="http://via.placeholder.com/150x200">
      </figure>
      <figcaption>My favorite teacher</figcaption>

      <p class="testimonials_about">"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt."</p>

    </div>

    <div class="testimonials_element">

      <figure class="testimonials_element_photo">
        <img src="http://via.placeholder.com/150x200">
      </figure>
      <figcaption>My favorite teacher</figcaption>

      <p class="testimonials_about">"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt."</p>

    </div>

    <div class="testimonials_element">

      <figure class="testimonials_element_photo">
        <img src="http://via.placeholder.com/150x200">
      </figure>
      <figcaption>My favorite teacher</figcaption>

      <p class="testimonials_about">"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt."</p>

    </div>

      <div class="testimonials_element">

      <figure class="testimonials_element_photo">
        <img src="http://via.placeholder.com/150x200">
      </figure>
      <figcaption>My favorite teacher</figcaption>

      <p class="testimonials_about">"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt."</p>

    </div>

  </div>

</div>