<h1>Pages#contact</h1>

<p><%= number_to_phone "89204747417" %></p>

<p><%= number_to_currency "89204747417" %></p>

<p><%= number_to_percentage "89204747417" %></p>

<p><%= number_with_delimiter "89204747417123123" %></p>